.root-pane{
    -fx-background-color: #2D3848;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-width: 0.5;
}
.grid-pane-tool-bar{
    -fx-background-color: #172636;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-width: 0.5;
}
#overviewButton{
    -fx-background-color: transparent;
}
#personInfoButton{
    -fx-background-color: transparent;
}
#rankingButton{
    -fx-background-color: transparent;
}
#searchPlayerButton{
    -fx-background-color: transparent;
}
#toolsButton{
    -fx-background-color: transparent;
}
#xxx{
    /*45,56,72*/
}
#currentRankPane{
    -fx-background-color: #3A4556;
}
#recentGamePane{
    -fx-background-color: #3A4556;
}
#historyHighestRankPane{
    -fx-background-color: #3A4556;
}
#matchHistoryList{
    -fx-background-color: #3A4556;
}
.line{
    -fx-stroke: #2D3848;
}
#matchHistoryList .scroll-bar:vertical{
    -fx-scale-x: 0;
}
#matchHistoryList .scroll-bar:horizontal{
    -fx-scale-x: 0;
}
#matchHistoryList .list-cell{
    -fx-padding: 0;
}
