#matchHistoryBriefPane{
    -fx-background-color: #3A4556;
}
#itemImage0{
    -fx-border-color: #2D3848;
}
#itemImage1{
    -fx-border-color: #2D3848;
}
#itemImage2{
    -fx-border-color: #2D3848;
}
#itemImage3{
    -fx-border-color: #2D3848;
}
#itemImage4{
    -fx-border-color: #2D3848;
}
#itemImage5{
    -fx-border-color: #2D3848;
}
#itemImage6{
    -fx-border-color: #2D3848;
}
